/* Full Header container */
.Header {
  display: flex;
  align-items: center;

  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

/* Common styles for all header sections */
.Header > div {
  display: flex;
}

/* Center section of the header (title area) */
.Header .header_center {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

/* Left section of the header */
.Header .header_left {
  width: 25%;
  justify-content: flex-start;
}

/* Right section of the header */
.Header .header_right {
  width: 25%;
  justify-content: flex-end;
}
